<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlappyClone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A4DA58D1C39B8B2003E3172</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A4DA5A51C39B8B3003E3172</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A4DA5B01C39B8B3003E3172</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
